header {
    background-color: #CC660A;
    height: 120px;
    margin-top: -20px;
    display: block;
    text-decoration: none;
  }

.logo {
  float: left;
}

  nav ul li {
    list-style-type: none;
    display: inline-block;
    float: right;
    font-size: 30px;
    background-size: cover;
    text-decoration: none;
    padding: 80px;
    margin-top: -40px;
  }

nav ul li a {
    text-decoration: none;
    color: #FFC107;
  }

  body {
    background-image: url(whitebone.jpg);
  }


    button.customquote {
        border-radius: 5px;
        display: block;
        width: 200px;
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
        padding: 12px 0;
    }

  aside.features {
    float: right;
    size: 10px;
    margin-right: 600px;
  }

#pricing {
      color: red;
  }


  footer {
      background-color: #CC660A;
      height: 120px;
      margin-top: -20px;
      display: block;
      text-decoration: none;
    }

footer ul li {
    float: right;
    text-decoration: none;
    list-style-type: none;
    color: #FFF;

  }



footer .hotjarimage {
    float: left;
    margin: 20px;

  }

  .newsletter {
      float: right;
    }



  /*ul li {
  color: black;
  font-size: 24px;
  list-style-type: square;
}*/



/** {
  background-color: black;
  color: green;
  outline: 1px solid red;
}*/
