
body {
    background-color: #0066CC;
    font-style: ;
    font-family: "helvetica";
    background-size: 80px: 60px;
    text-align: left;

  }
    input {
            border: 50px;
            padding: 2px;
            font-size:10px;
            color: green;
          }

/* LINKS */

          a:link {
              color: red;
          }
